@model EComMVC.Models.UpdateProduitModel

@{
}

<h1 class="Display-4">Modifier un produit</h1>

<form action="update" method="post">
    <div class="mbt-3">
        <label for="">ID</label>
        <input type="text" class="form-control" readonly asp-for="Id">
    </div>
    <div class="mb-3">
        <label for="">Nom :</label>
        <input type="text" class="form-control" asp-for="Name" required>
    </div>
    <div class="mb-3">
        <label for="">Description :</label>
        <input type="text" class="form-control" asp-for="Description" required>
    </div>
    <div class="mb-3">
        <label for="">Prix :</label>
        <input type="number" class="form-control" asp-for="Price" required>
    </div>

    <button type="submit" class="btn btn-primary" asp-action="update" asp-controller="Product">Modifier</button>
    <button type="submit" class="btn btn-primary" asp-action="delete" asp-controller="Product">Supprimer</button>
</form>